@if(UserID!=null){
  <nav class="shadow-black shadow rounded flex items-center justify-between py-4 px-10">
    <div>
      <a class="py-2 px-4 mr-24 border-2 rounded border-black border-solid" [routerLink]="['/dashboard']">Dashboard</a>
      <a class="py-2 px-5 border-2 rounded border-black border-solid" [routerLink]="['/feed']">Feed</a>
    </div>
    <a [routerLink]="['/profile']">
      <img class="rounded-full mx-auto" width="20%" src="https://tse1.mm.bing.net/th/id/OIP.5kU_nQdgEEPluSjSXhKZSAHaHa?w=193&h=193&c=7&r=0&o=5&pid=1.7"/>
    </a>
  </nav>
}
<router-outlet />